.gameTable{
  th:hover {
      background-color: #D6EEEE;
    };
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 380%;
  padding-top: 140px;

  
}

.BOMB{
  background-color: red;
  color: white;
  /* margin-left: auto; */
  /* margin-right: auto; */
  position: absolute;
  width: 50%;
  top:40%;
  left: 30%;
  right: 30%;
  width: 600px;
}

.WINNER {
  background-color: green;
  color: white;
  /* margin-left: auto; */
  /* margin-right: auto; */
  position: absolute;
  width: 50%;
  top: 40%;
  left: 30%;
  right: 30%;
  width: 600px;
}

.score {
  position: absolute;
  top: 0%;
  right: 5%;
  p{
    text-align: right;
    color: green;
  }

}