.gameTable{
  th:hover {
      background-color: #D6EEEE;
    };
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-size: 380%;
  padding-top: 140px;

  
}

.BOMB{
  background-color: red;
  color: white;
  /* margin-left: auto; */
  /* margin-right: auto; */
  position: absolute;
  width: 50%;
  top:40%;
  left: 30%;
  right: 30%;
  width: 600px;
}

.WINNER {
  background-color: green;
  color: white;
  /* margin-left: auto; */
  /* margin-right: auto; */
  position: absolute;
  width: 50%;
  top: 40%;
  left: 30%;
  right: 30%;
  width: 600px;
}

.score {
  position: absolute;
  top: 0%;
  right: 5%;
  p{
    text-align: right;
    color: green;
  }

}

.formLogin{
  display: inline-block;
  align-items: center;
  height: 270px;
  width: 350px;
  position: relative;
  text-align: center;
  /* padding: 20; */
}

.login {
  display: inline-block;
  background: #FFFFFF;
  margin-top: 5%;
  /* border-radius: 22px; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: absolute;
  left: 40%;
  text-align: center;
  
  
}


.btn {
  margin-top: 28px;
  width: 165px;
  height: 60px;
  border-radius: 30px;
  background: blue;
  border: none;
  font-family: 'Montserrat';
  font-size: 20px;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(141, 162, 237, 0.7), 0 6px 20px 0 rgba(141, 163, 237, 0.9);
  cursor: pointer;
  /* text-align: center; */
}

